<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THANK YOU!</title>
</head>
<style>
    body{
        background-image:url({{url_for('static',filename='pexels-francesco-ungaro-96381.jpg')}});
         background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .thankyou{
        margin-left:500px;
        font-family:Gill Sans, sans-serif;
        margin-top:200px;
        color:#C1C1C1;
        border-radius:10px;
        border:2px;
    }

    h1{
        font-size:50px;
    }

</style>
<body>
<div class="thankyou">
<h1>THANK YOU !</h1>
<h2>BY: DIPAL SURTI 18DCS125</h2>
<h2>DARSH VAGHASIA 18DCS130</h2>
<h2>VARUN SHAH 18DCS114</h2>
</div>
</body>
</html>